xml/test/schema/test.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns='http://www.w3.org/2001/XMLSchema'> <element name="records">  <complexType>   <sequence>     <element ref="record" minOccurs='1' maxOccurs='unbounded'/>   </sequence>  </complexType> </element> <element name="record">  <complexType>  	<sequence>    	<element name="durationTag" type="duration"/>    	<element name="dateTag" type="date"/>    	<element name="timeTag" type="time"/>    	<element name="dateTimeTag" type="dateTime"/>    	<element name="gYearMonthTag" type="gYearMonth"/>    	<element name="gYearTag" type="gYear"/>    	<element name="gMonthDayTag" type="gMonthDay"/>        <element name="gDayTag" type="gDay"/>    	<element name="gMonthTag" type="gMonth"/>    	<element name="booleanTag" type="boolean"/>    	<element name="base64BinaryTag" type="base64Binary"/>    	<element name="hexBinaryTag" type="hexBinary"/>	    	<element name="floatTag" type="float"/>    	<element name="doubleTag" type="double"/>	    	<element name="decimalTag" type="decimal"/>    	<element name="integerTag" type="integer"/>	    	<element name="nonPositiveIntegerTag" type="nonPositiveInteger"/>    	<element name="negativeIntegerTag" type="negativeInteger"/>	    	<element name="longTag" type="long"/>    	<element name="intTag" type="int"/>    	<element name="shortTag" type="short"/>    	<element name="byteTag" type="byte"/>	    	<element name="nonNegativeIntegerTag" type="nonNegativeInteger"/>    	<element name="unsignedLongTag" type="unsignedLong"/>    	<element name="unsignedIntTag" type="unsignedInt"/>    	<element name="unsignedShortTag" type="unsignedShort"/>    	<element name="unsignedByteTag" type="unsignedByte"/>    	<element name="positiveIntegerTag" type="positiveInteger"/>	</sequence>    <attribute name="id" type="string" />  </complexType>	 </element></schema>